@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


*{
    box-sizing: border-box;
}



:root{
    --padding-container: 100px 0;
    --color-title:  rgba(217, 172, 23, 0.897);


}


body{
    font-family: verdana, sans-serif;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
    
}

.hero{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../images/dental.jpg');
    background-size: 1350px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 90%, 0 90%);
    z-index: -1;
    
    

}

/* NAV Diseño */
.nav{
    --padding-container:0;
    height: 100%;
    display: flex;
    align-items: center ;

}

.nav__title{
    font-weight: 300;
}

.nav__link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__items{   
    list-style: none;
    

}

.nav__links{
    color: #fff;
    text-decoration: none;
}

.nav__menu{
    margin-left: auto;
    cursor: pointer;
    display: none;

}

.nav__img{
    display: block;
    width: 30px;
}

.nav__close{
    display: var(--show, none);

}

/*Hero Container*/
.hero__container{
    max-width: 800px;
    --padding-container:0;
    display:grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 150px;
    text-align: center;
}

.hero__title{
    font-size: 3rem;
}

.hero__paragraph{
    margin-bottom: 20px;
}

.cta{
    display: inline-block;
    background-color: rgba(217, 172, 23, 0.897);
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 20px;
    border-radius: 30px;
}

/*About*/

.about{
    text-align: center;
    margin-top: -100px;
}

.subtitle{
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}

.about__paragraph{
    line-height: 1.7;
    font-family: Arial;
    
}

.about__main{
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.about__icons{
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}

.about__icon{
    width: 40px;

}

/* Contacto */
.contacto{
    text-align: center;
    margin-bottom: 100px;
    margin-top: -150px;
}




/*Slider*/

.mySlides{
    display: none;
    /*clip-path: inset(28% 0 45% 0);*/
    position: relative;
  /*  margin-bottom: -65%;
    margin-top: -42%;*/
}
img{
    align-items: center;
}

.slider-container{
    margin: auto;
    position: relative;
    background-color: #000;
    
}

.img_carrusel{
    width: 100%;
    margin-bottom: -3px;
}

@media (min-width: 1200px){
    .img_carrusel{
        width: 100%;
        height: 550px;
        object-fit: contain;
        object-position: center;
    }

}

.next, .prev{
    cursor: pointer;
    position: absolute;
    
    width: auto;
    padding: 16px;
    margin-top: -320px;
    color: white ;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
    background-color: #24262b;
}

.text{
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 8px;
}

.numbertext{
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px ;
    position: absolute;
    top: 0;
}

.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6 ease;
}
.active, .dot:hover{
    background-color: #717171;

}
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade{
    from{opacity: .4;}
    to{opacity: 1;}
}
@keyframes fade{
    from{opacity: .4;}
    to{opacity: 1;}

}

/*Responsive*/
@media only screen and(max-width:300px){
    .prev, .next, .text{
        font-size: 11px;

    }
    .dot{
        height: 10px;
        width: 10px;
    }
}
@media (max-width: 500px){
    .prev, .next{
            margin-top: -120px;
    }
    .hero::before{
        margin-top: -120px;
        background: black;
        background-size:450px ;
        background-position-y: center;
        background-position-x: center;
        background-repeat: no-repeat;
        background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../images/dental.jpg');
    }
}
@media (max-width: 800px){
    .nav__menu{
        display: block;

    }
    .nav__link--menu{
        position: fixed;
        background-color: #000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }
    .nav__link--show{
        --show: block;
        opacity: 1;
        pointer-events: unset;
    }
}


/*Footer*/

.footer{
    background-color: #24262b;
    padding: 10px 0;

}

.footer-row{
    display: flex;
    flex-wrap: wrap;    
}

.footer-links{
    width: 25%;
    padding: 0 15px;
}
.footer-links h4{
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00c3ff;
    padding-bottom: 10px;
    display: inline-block;
}
.footer-links ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #bbbbbb;
    display: block;
    margin-bottom: 15px;
    transition: all , 3s ease;   
}
.footer-links ul li a:hover{
    color: #ffffff;
    padding-left: 6px;
}
.social-link a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all .5s ease;
}
.social-link a:hover{
    background-color: #00c3ff;   
}

@media(max-width:991px){
    .footer-row{
        text-align: center;
    }

    .footer-links{
        width: 100%;
        margin-bottom: 30px;
    }
}

/*Quienes Somos*/

.testimony{
    background-color: hsla(240, 18%, 85%, 0.796);
}

.testimony__container{
    display: grid;
    gap: 1em;
    align-items: center;
    padding: 20px;

}

.testimony__body{
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    
    
}

.testimony_img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 30%;
    background-color: hsla(240, 18%, 85%, 0.796);;
     
}

.testimony_texts{
    margin-left: 20%;
    
    
}

@media (max-width: 400px){

    .testimony_texts{
        margin: 0;
        margin-right: 0;
        justify-content: center

    }

    .testimony_img{
        margin-left: 12%;
    }

    .testimony__body{
        margin-left: -10px;
    }
    
}

/*Mapa*/

.mapa{
    justify-content: center;
    align-items: center ;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    padding: 50px;
    background-color: hsla(240, 18%, 85%, 0.796);
    margin-top: 25px;
}

.container_mapa{
    margin-left: 100px;
}

.ubicacion{
    margin-left: 200px;
}

@media (max-width: 800px){
    .container_mapa{
        margin-left: 55px;
    }

    .ubicacion{
        margin-left: 50px;
        margin-bottom: 15%;
        align-items: center;
    }

    .paragrafo_mapa{
        margin-left: 50px;
        margin-top: 5%;
    }


}

/*Division*/
.division{
    
    width: 100%;
    height:250px;
    margin-top: -1px;
    margin-bottom: -230px;
    background-color: rgba(217, 172, 23, 0.897);;

}

/*Tratamientos*/

.container_tratamientos{
    position: static;
    text-align: center;
    margin-top: 0;
    background-color: rgb(37, 37, 36);
    padding: 8%;
    border-radius: 5%;
    
}

.allElements{
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(20rem, .5fr));
    justify-content: center;
    align-content: center;
    padding-inline-start: 6%;
    gap: 2em;
    margin-top: 10%;
    
}


.table{
    padding-top: 60px;
    background-color:hsla(46, 65%, 60%, 0.945);;
    text-align: center;
    border-radius: 8%;
    width: 330px;
    
    
}   

.nombreProceso{
    color: black;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.info{
    align-items: center;
    padding: 20px;
}

.info_parrafo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

@media (max-width: 800px){
    .allElements{
        padding-inline-start: 0;
    }
}

/*Reseñas*/
.container_reseñas{
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(16rem, .6fr));
    justify-content: center;
    padding: -10px;
}

/*Imagenes Tratamientos*/
.img_tratamientos{
    width: 100%;
    display: block;
    border-radius: 10%;
    margin-top: -62px;
    margin-bottom: 20px;
}





